<section class="categories-show">

  <header class="page-header">
    <h1>
      <%= @category.name %>
      <small>(<%= pluralize @categories.size, 'product' %>)</small>
    </h1>
  </header>

  <div class="categories">
    <%= render @categories %>
  </div>

</section>